/* =========================================
   1. Google Font Imports
========================================= */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* =========================================
   2. Design Variables
========================================= */
:root {
  --font-heading: 'Rubik', system-ui, -apple-system, sans-serif;
  --font-body: 'Courier Prime', system-ui, -apple-system, sans-serif;
  --primary-colour: rgba(25, 100, 15);
  --primary-transparent-colour: rgba(25, 100, 15, 0.5);
  --primary-light-colour: rgb(125, 185, 120);
  --secondary-colour: rgb(40, 10, 45);
  --secondary-transparent-colour: rgba(40, 10, 45, 0.5);
  --secondary-light-colour: rgb(70, 20, 80);
  --accent-colour: rgb(240, 150, 10);
  --accent-dark-colour: rgb(195, 125, 20);
  --background-colour: rgb(255, 250, 240);
  --disabled-colour: rgb(255,255,255, 0.5);
  --xsmall-gap: 0.25rem;
  --small-gap: 0.5rem;
  --medium-gap: 0.75rem;
  --large-gap: 1rem;
  --xlarge-gap: 1.5rem;
  --xxlarge-gap: 2rem;
  --xxxlarge-gap: 2.5rem;
  --header-height: clamp(72px, 8dvh, 102px);
}

/* =========================================
   3. Base Normalisation
========================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========================================
   4. Base Element Styling
========================================= */
html {
  scroll-behavior: smooth;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2 {
  font-family: var(--font-heading);
  font-weight: 800;
}

h3, h4, h5, h6 {
  font-family: var(--font-body);
  font-weight: 400;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 640px) {
  html {
    font-size: 103%;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 107%;
  }
}