/* =========================================
   1. Google Font Imports
========================================= */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap&family=Shrikhand&display=swap');

/* =========================================
   2. Design Variables
========================================= */
:root {
  --font-brand: 'Shrikhand', system-ui, -apple-system, sans-serif;
  --font-heading: 'Rubik', system-ui, -apple-system, sans-serif;
  --font-body: 'Courier Prime', system-ui, -apple-system, sans-serif;
  --primary-colour: rgb(25,115,15);
  --secondary-colour: rgb(85, 155, 80);
  --tertiary-colour: rgb(30, 10, 45);
  --accent-colour: rgb(240, 170, 10);
  --background-colour: rgb(255, 250, 240);
  --xsmall-gap: 0.2rem;
  --small-gap: 0.4rem;
  --medium-gap: 0.8rem;
  --large-gap: 1.6rem;
  --xlarge-gap: 3.2rem;
}

/* =========================================
   3. Base Normalisation
========================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========================================
   4. Base Element Styling
========================================= */
html {
  font-size: 100%;
  line-height: 1.5;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: 800;
}

@media (min-width: 640px) {
  html {
    font-size: 103%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 107%;
  }
}