.favourite-toggle {
  position: absolute;
  top: var(--xlarge-gap);
  right: var(--xlarge-gap);
  display: grid;
  place-items: center;
  z-index: 10;
}

.favourite-toggle__button {
  display: grid;
  place-items: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 1.5rem;

  color: var(--background-colour);
  background-color: var(--secondary-colour);
  border: 1px solid var(--secondary-colour);
}

.favourite-toggle__button:hover {
  background-color: var(--secondary-light-colour);
  border: 1px solid var(--secondary-light-colour);
}
