.bg-scroll {
  position: absolute;
  inset: -50dvw;
  z-index: 0;
  pointer-events: none;
  transform: rotate(-12deg);
  display: grid;
  gap: 0rem;
  align-content: center;
}

.bg-scroll__row {
  color: var(--background-colour);
  -webkit-text-stroke: 1px var(--primary-light-colour);
  white-space: nowrap;
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: clamp(7.5rem, 10dvw, 10rem);
  line-height: 0.9;
  will-change: transform;
  animation: marquee-right 240s linear infinite;
}

.bg-scroll__row > span {
  display: inline-block;
  padding-right: 0.8rem;
}

.bg-scroll__row--1, .bg-scroll__row--3, .bg-scroll__row--5, .bg-scroll__row--7, .bg-scroll__row--9 {
  color: var(--primary-light-colour);
  animation: marquee-left 240s linear infinite;
}

@keyframes marquee-left{
  from { transform: translateX(0%); }
  to   { transform: translateX(-50%); }
}
@keyframes marquee-right{
  from { transform: translateX(-50%); }
  to   { transform: translateX(0%); }
}