.recipes-page {
  text-align: center;
  background-color: var(--background-colour);
}

.recipes-page__description {
  display: grid;
  grid-template-rows: var(--header-height) auto;
  place-items:center;
  gap: 0.5rem;
  margin: 0 0 2dvh 0;
}

.description-title {  
  font-size: 1.75rem;
  color: var(--secondary-colour);
  line-height: 1;
}

.description-subtitle {
  color: var(--secondary-colour);
  line-height: 1;
}

.recipes-page__results {
  display: grid;
  grid-template-columns: 1fr;
  margin: var(--xsmall-gap) 0;
  gap: var(--medium-gap);
  padding: var(--medium-gap);
}

@media (min-width: 640px) {  
  .recipes-page__results {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    gap: var(--large-gap);
    padding: var(--large-gap);
  }
}

@media (min-width: 1025px) {
  .recipes-page__results {
    grid-template-columns: repeat(3, 1fr);
    margin: -0.5rem 0;
    gap: var(--xlarge-gap);
    padding: var(--xlarge-gap);
  }
}