.status-panel-container {
  border: 1px solid var(--background-colour);
  border-radius: var(--xxlarge-gap);
  padding: var(--medium-gap);
  background: var(--secondary-colour);
}

.status-panel__title {
  margin: 0 0 var(--medium-gap) 0;
  font-size: 1.5rem;
  line-height: 1;
}

.status-panel__message {
  line-height: 1.5;
}