.navbar {
  height: 100%;
  background: var(--background-colour);
  border-bottom: 1px solid var(--tertiary-colour);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.navbar__links-left {
 display: flex;
 flex-direction: row;
 justify-content: start;
 align-items: center;
 padding: var(--small-gap) var(--medium-gap);
 gap: var(--small-gap);
}

.navbar__brand {
  justify-self: center;
  text-decoration: none;
  text-align: center;
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--primary-colour);
}

.navbar__brand br {
  display: block;
}

.navbar__links-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: var(--small-gap) var(--medium-gap);
  gap: var(--small-gap);
}

.navbar__navlink {
  font-family: var(--font-heading);
  font-weight: 800;
  text-decoration: none;
  color: var(--background-colour);
  background-color: var(--primary-colour);
  padding: var(--small-gap);
  border-radius: var(--medium-gap);
  border: 1px solid var(--primary-colour);
}

.navbar__navlink-text {
  display: none;
}

.navbar__navlink-icon {
  display: block;
}

.navbar__navlink:hover {
  background-color: var(--secondary-colour);
  border-color: var(--secondary-colour);
}

.navbar__navlink:active {
  color: var(--tertiary-colour);
  background-color: var(--accent-colour);
  border-color: var(--accent-colour);
}

@media (min-width: 640px) {
  .navbar__brand {
    font-size: 2rem;
  }

  .navbar__brand br {
    display: none;
  }
  
  .navbar__links-left {
    padding: var(--medium-gap) var(--large-gap);
    gap: var(--medium-gap);
  }

  .navbar__links-right {
    padding: var(--medium-gap) var(--large-gap);
    gap: var(--medium-gap);
  }
}

@media (min-width: 1024px) {
  .navbar__navlink {
    padding: var(--small-gap) var(--medium-gap);
  }
  
  .navbar__navlink-text {
    display: inline-block;
  }

  .navbar__navlink-icon {
    display: none;
  }
}

