.navbar {
  height: 100%;
  background: var(--background-colour);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.navbar__navlinks--left {
 display: flex;
 flex-direction: row;
 justify-content: start;
 align-items: center;
 padding: var(--small-gap) var(--medium-gap);
 gap: var(--small-gap);
}

.navbar__brand {
  justify-self: center;
  text-decoration: none;
  text-align: center;
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--primary-colour);
}

.navbar__brand br {
  display: block;
}

.navbar__navlinks--right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: var(--small-gap) var(--medium-gap);
  gap: var(--small-gap);
}

.navlink {
  display: grid;
  place-items: center;
  font-family: var(--font-heading);
  font-weight: 800;
  width: 2.75rem;
  height: 2.75rem;
  text-decoration: none;
  color: var(--background-colour);
  background-color: var(--primary-colour);
  padding: var(--small-gap);
  border-radius: var(--medium-gap);
  border: 1px solid var(--primary-colour);
}

.navlink-text {
  display: none;
}

.navlink-icon {
  display: block;
}

.navlink:hover {
  background-color: var(--primary-light-colour);
  border-color: var(--primary-light-colour);
}

.navlink:active {
  color: var(--secondary-colour);
  background-color: var(--accent-colour);
  border-color: var(--accent-colour);
}

@media (min-width: 640px) {
  .navbar__brand {
    font-size: 2rem;
  }

  .navbar__brand br {
    display: none;
  }
  
  .navbar__navlinks--left {
    padding: var(--medium-gap) var(--large-gap);
    gap: var(--medium-gap);
  }

  .navbar__navlinks--right {
    padding: var(--medium-gap) var(--large-gap);
    gap: var(--medium-gap);
  }
}

@media (min-width: 1025px) {
  .navbar__navlinks--left {
    padding: var(--medium-gap) var(--xlarge-gap);
    gap: var(--medium-gap);
  }

  .navbar__navlinks--right {
    padding: var(--medium-gap) var(--xlarge-gap);
    gap: var(--medium-gap);
  }
  
  .navlink {
    width: auto;
    height: auto;
    padding: var(--small-gap) var(--medium-gap);
  }
  
  .navlink-text {
    display: inline-block;
  }

  .navlink-icon {
    display: none;
  }
}

