.main-layout {
  --header-height: clamp(72px, 8dvh, 102px);
  padding-top: var(--header-height);
}

 .main-layout__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height); 
  z-index: 50;
}

.main-layout__main {
  min-height: calc(100dvh - var(--header-height)); /* remove this once page layout is defined */
  border: 1px solid blue; /* remove this when finished */
}