.back-button {
  display: grid;
  place-items: center;
  width: 2.75rem;
  height: 2.75rem;
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary-colour);
  background-color: var(--background-colour);
  padding: var(--small-gap);
  border-radius: var(--medium-gap);
  border: 2px solid var(--primary-colour);
}

.back-button__text {
  display: none;
}

.back-button__icon {
  display: block;
}

.back-button:hover {
  color: var(--background-colour);
  background-color: var(--primary-colour);
}

.back-button:active {
  color: var(--secondary-colour);
  background-color: var(--accent-colour);
  border-color: var(--accent-colour)
}

@media (min-width: 1025px) {
  .back-button {
    width: auto;
    height: auto;
    padding: var(--small-gap) var(--medium-gap);
  }
  
  .back-button__text {
    display: inline-block;
  }

  .back-button__icon {
    display: none;
  }
}