.scroll-down-button {
  position:absolute;
  z-index: 10;
  top: 91dvh;
  left: calc(50dvw - 1.5rem);

  display: grid;
  place-items: center;
  width: 3rem;
  height: 2.5rem;

  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
  color: var(--background-colour);
  background-color: var(--secondary-50pct-colour);
  padding: var(--small-gap);
  border-radius: var(--medium-gap);
  transition: background-color 0.2s ease;
}

.scroll-down-button:hover {
  transform: translateY(2.5px);

  background-color: var(--secondary-colour);
}

.scroll-down-button:active {
  color: var(--secondary-colour);
  background-color: var(--accent-colour);
}